#row1 {
    background-color: yellow;
}

#row2 {
    background-color: green;
}

body {
    background-image: url(https:i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: blue;
    font-size: large;
}

h1 {
    color: purple;
    font-size: x-large;
    font-weight: bolder;
}

